body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.checked {
  color: orange;
}
.actualamount{
  font-size: 13px;
}
.card-text{
  font-size: 13px;
}

/* @media (min-width: 340px) and  (max-width: 1580px) {
  .pricendiscount{
    display: block !important;
    text-align: center;
  }
  .amount{
    display: flex;
    justify-content:flex-start !important;
  }
  .amountPresce{
   text-align: end;
  }
} */